* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fff;
  color: #222;
}

header {
  background: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo h2 span {
  color: black;
  font-weight: 700;
}

.logo h2 {
  color: #f97316;
  font-size: 24px;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

nav button {
  background: #f97316;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #181818;
  color: white;
  padding: 80px 10%;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-text p {
  color: #ccc;
  line-height: 1.6;
  margin-bottom: 30px;
}

.btn {
  background: #f97316;
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.hero-img img {
  width: 400px;
  border-radius: 10px;
  box-shadow: 10px 10px 0 #f97316;
}
